.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 3rem;
    gap: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}
.container th, td{
    padding: 1rem;
}
.approveButton{
    background-color: rgb(0, 165, 0);
}
.denyButton{
    background-color: red;
}
.approveButton:hover{
    background-color: green;
}
.denyButton:hover{
    background-color: rgb(177, 0, 0);
}