.home{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url("../images/HomeImg.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.home h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.home p{
    font-size: 1.4rem;
    font-weight: 100;
    max-width: 1200px;
}
.authButtons {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}
.authButtons button {
    background-color: blue;
    color: white;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}
.authButtons button:hover {
    background-color: rgb(2, 2, 226);
}
.latestCampaigns {
    padding: 4rem 2rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.latestCampaigns h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
}
.campaigns{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.campaignList {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
.campaignCard {
    background-color: #f5f5f5;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    line-height: 1.8;
    overflow: hidden;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;
}
.campaignCard h3{
    font-size: 21px;
}
.campaignCard button{
    background-color: blue;
    color: white;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}
.campaignCard button:hover{
    background-color: rgb(2, 2, 226);
}
.moreButton{
    background-color: blue;
    color: white;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;
}
.moreButton:hover{
    background-color: rgb(2, 2, 226);
}