.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1.2rem;
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.filterBar{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}
.filterBar input, .filterBar select{
    padding: 0.4rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}
.filterBar button{
    padding: 0.5rem 1rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 200px;
}
.filterBar button:hover{
    background-color: #218838;
}