*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background-color: black;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.nav a{
  color: white;
  text-decoration: none;
}
.nav nav{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.LogBut{
  background-color: blue;
  color: white;
  padding: 0.7rem 1.5rem;
  border: 1rem solid black;
  border-radius: 4rem;
  cursor: pointer;
}
.nav nav a{
  text-decoration: none;
  color: white;
}
.nav nav a:hover{
  color: rgb(208, 208, 211);
}
.LogBut:hover{
  background-color: rgb(2, 2, 226);
}
.profImg{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
table, th, td{
    border: 2px solid black;
    padding: 1rem;
    border-collapse: collapse;
}
th{
    background-color: rgb(192, 191, 191);
}
.footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
